[tool.poetry]
name = "spark-frame"
version = "0.3.0"
description = "A library containing various utility functions for playing with PySpark DataFrames"
authors = ["FurcyPin"]
license = "Apache-2.0"
keywords = ["Spark", "PySpark", "DataFrame"]
readme = "README.md"
homepage = "https://github.com/FurcyPin/spark-frame"
repository = "https://github.com/FurcyPin/spark-frame"
include = ["spark_frame/templates/*.jinja2"]

[tool.poetry.dependencies]
python = ">=3.8.1,<3.11"

[tool.poetry.group.dev.dependencies]
pyspark = "^3.3.0"

types-setuptools = "^65.6.0.3"

black = "^22.6.0"
isort = "^5.10.1"
flake8 = "^6.0.0"
mypy = "^0.971"
bandit = "^1.7.4"
safety = "^2.1.1"
pytest = "^7.1.2"
pytest-cov = "^3.0.0"
pipdeptree = "2.2.1"

mkdocs = "^1.4.2"
mkdocstrings = {extras = ["python"], version = "^0.19.0"}
mkdocs-material = "^8.5.10"
mkdocs-include-markdown-plugin = "^4.0.3"

[build-system]
requires = ["poetry-core==1.1.14"]
build-backend = "poetry.core.masonry.api"


[tool.black]
line-length = 120

[tool.isort]
line_length = 120
profile = "black"
known_first_party = "spark_frame"


[tool.pytest.ini_options]
addopts = [
    "-ra",
    "--cov=spark_frame",
    "--doctest-modules"
]

testpaths = [
    "spark_frame",
    "tests"
]
